<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face-Chat.in | Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- icon for fa fa cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="icon" href="/static/images/logo.png">
    <style>
        .services-nav {
            position: fixed;
            top: 0px;
        }
    </style>
</head>

<body>
    <>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark services-nav z-index"
            aria-label="Thirteenth navbar example">
            <!-- nav start -->
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="color outer-logo mx-3">Face-Chat</h1>
                <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                    <a class="navbar-brand col-lg-3 me-0" href="/" id="failboy">Face-Chat</a>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/"><i class="fa-solid fa-house-user mx-1"></i><span>Home</span><!--Home--></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/follow"><i class="fa-solid fa-user-plus mx-1"></i><span>Follow</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/media"><i class="fa-solid fa-photo-film mx-1"></i><span>Media</span></a>
                          </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="" data-bs-toggle="dropdown"
                                aria-expanded="false">More</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item active" href="/request"><i class="fa-regular fa-bell mx-1"></i><span>Requests</span></a></li>
                                    <li><a class="dropdown-item" href="/profile"><i class="fa-solid fa-user mx-1"></i><span>Profile</span></a></li>
                                    <li><a class="dropdown-item" href="/setting"><i class="fa-solid fa-gear mx-1"></i><span>Setting</span></a></li>
                                  </ul>
                        </li>
                    </ul>
                    <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <a href="/logout"><button type="button" class="btn color logout">
            logout <span><i class="fa-solid fa-right-from-bracket"></i></span>
          </button></a>
        </div>
                </div>
            </div>
        </nav>
        <!-- nav end -->
    </>
    <div class="container my-5">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Python
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <strong>Python is a high-level, interpreted programming language </strong> known for its
                        simplicity and readability, making it easy to learn and use for a variety of applications. It
                        supports multiple programming paradigms, including procedural, object-oriented, and functional
                        programming. Python's extensive standard library and active community make it a versatile choice
                        for tasks ranging from web development and scientific computing to automation and artificial
                        intelligence.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            JavaScript
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>JavaScript is a versatile programming language </strong> primarily used for creating
                            interactive and dynamic websites. It is a core technology of the web alongside HTML and CSS,
                            allowing developers to add functionality, interactivity, and behavior to web pages.
                            JavaScript is also widely used in building web and mobile applications, server-side
                            development using Node.js, and even in game development. Its flexibility and ubiquity across
                            browsers make it a fundamental language for web development.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            Java
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <strong>Java is a popular, high-level programming language </strong> known for its
                            versatility, portability, and performance. It is used to develop a wide range of
                            applications, from enterprise systems and mobile apps to large-scale web applications and
                            embedded software. Java's key features include its platform independence, object-oriented
                            nature, strong memory management, and rich standard library. It is widely used in the
                            development of server-side applications, Android mobile apps, and in the Internet of Things
                            (IoT) space.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="py-4">
        <!-- footer start  -->
        <div class="container footer-container">
            <footer class="py-5">
                <div class="row footer-container">
                    <div class="col-6 col-md-2 mb-3 footer-control">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3 footer-control">
                        <h5>Details</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Monitory</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Gust</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shiping</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">QNA</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Func</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3 footer-control">
                        <h5>Something else</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Lozik</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Shorting</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Review</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Factor</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Else</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3 footer-control"><!--form container start-->
                        <form>
                            <h5>Subscribe to our newsletter</h5>
                            <p>Monthly digest of what's new and exciting from us.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary btn-control" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div><!--form container end-->
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2024 Company, Inc. All rights reserved. by </p><a href="#"
                        class="nav-link p-0 text-body-secondary"><i class="fa-brands fa-instagram fa-beat mx-2"
                            style="color: #e8307a;font-size: 25px;"></i><i class="fa-brands fa-facebook fa-beat mx-2"
                            style="color: #2f9ff4;font-size: 25px;"></i><i class="fa-brands fa-linkedin fa-beat mx-2"
                            style="color: #0c63a6;font-size: 25px;"></i><i class="fa-brands fa-github fa-beat mx-2"
                            style="color: #000205;font-size: 25px;"></i>
                    </a>
                    <!-- add icon  -->
                </div>
            </footer>
        </div>
        <!-- footer end  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>